    body{
        font-size: 10px;
        color: #4A4A4A;
        background-color: #FBFBFB;
        padding: 1%;
        font-family: Helvetica;
}    
    h1{
        font-size: 3em;
        font-size: 3vw;
}
    h2{
        font-size: 2em;
        font-size: 2vw;
}
    h3{
        font-size: 1.75em;
        font-size: 1.75vw;
}
    h4{
        font-size: 1.5em;
        font-size: 1.25vw;        
}
    h5{
        font-size: 1.3em;
        font-size: 1vw;
    
}
    h6{
        font-size: 1.25em;
        font-size: .75vw;
    }
}
    nav {
        display: inline;
        color: #4A4A4A;
}
    a{
        display:inline-grid;
        color:#4A4A4A;
        text-decoration:none;
}
    a:hover {
        color:#FF596E;
        text-decoration: none;
}
    a:active {
        color:#FF596E;
        text-decoration: none;
}
    mark{
    background-color: yellow;
}
    #sticky-nav-container {
        height: 100%;
        padding: 5px;
}
    /* Below changes the left padding of "A Record..." header */
    .padded-multiline h2 {
        font-weight: 800;
        line-height: 1.25em;
        color: #4A4A4A;
}
    .padded-multiline h2 span { 
        background-color: #fff;
        padding: 0rem .5rem .2rem .5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        font-weight: 800;
}
    #strikeout {
        position: relative;
}
    #strikeout::after {
        border-bottom: 0.4em solid black;
        content: "";
        left: 0;
        position: absolute;
        top: 33%;
        width: 100%;
}
    #transcriptHeader{
        width:100%;
        text-align: left;
        font-family: Courier;
        font-size: 26px;
        margin: 0 auto; 
        float: none; 
}
    .card {
        z-index: -1;
        height: 26rem;
        width: 90%;
        margin: auto;
        margin-bottom: 1%;
        border-radius: 1px;
        -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.61);
        -moz-box-shadow: 2px 2px 9px -2px rgba(0,0,0,0.61);
        box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.61);
}
    article {
        position: relative;
}
    article::after {
        content: "";
        height: 30rem;
        width: 80rem;
        position: absolute;
        background: url(/images/rip.svg) bottom;
        background-size: 100%;
        z-index: -1;
}
    #source {
        text-align: top;
        font-weight: lighter;
        font-size: 13px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 600;
}
    #quoteContainer{
        width: 75vw;
        height: 7rem;
        text-align: left;
        font-family: Courier New;
        font-weight: 200;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        margin: 0 auto; 
        float: none; 
}
    .button{
        font-family: Helvetica;
        font-weight: 200;
        display: flex;
        font-size: 1.1em;
        justify-content: center;
        border-radius: 3%;
        -webkit-transition:all .06s ease-in-out;
        -o-transition:all .06s ease-in-out;
        transition:all .06s ease-in-out;
}
    .button:focus,.button:hover{
        text-decoration:none;
}
    .button-primary{
        color: #FF596E;
        border: .15em solid #FF596E;
        width: 14em;
        padding: 2%;
        margin: 2% 0 0 35%; 
}
    .button-primary:hover{
        color: #fff;
        background-color: #FF596E; 
        text-decoration: none;
}
    .button-primary.active,.button-primary:active,.show>{
        color:#fff;
        background-color:#FF596E;
        background-image:none;
}
    .transcript{
        display: block;
        width: 100%;
        font-family: Courier New;
        font-size: 1.5em;
        font-size: 1.25vw; 
        font-weight: 200;
        line-height: 1.5em;
        word-spacing: 2px;
}
    .transcript:after{
        position: absolute;
        bottom: 75px;  
        left: 20px;
        height: 100%;
        width: 100%;
        content: "";
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
 }

