    body {
        font-size: 14px;
        color: #4A4A4A;
        background-color: #FBFBFB;
        
        font-family: Helvetica;
        line-height: 1.1;
}    
    h1 {
        font-size: 3.5em;
        font-size: 3.5vw;
        margin-bottom: 0;
}
    h2 {
        font-size: 2em;
        font-size: 2vw;
}
    h3 {
        font-size: 1.65em;
        font-size: 1.65vw;
}
    h4 {
        font-size: 1.5em;
        font-size: 1.4vw;        
}
    h5 {
        font-size: 1.25em;
        font-size: 1vw;
        font-weight: 200;
        margin-bottom: 0;
}
    h6 {  
        font-size: 1.1em;
        font-size: .75vw;
}
    a {
        display:inline-grid;
        color:#4A4A4A;
        text-decoration:none;
}
    a:hover {
        color:#FF596E;
        text-decoration: none;
}
    a:active {
        color:#FF596E;
        text-decoration: none;
}
    hr {
        display: block;
        height: 1px;
        width: 90%;
        border: 0;
        border-top: 1px solid #F0F0F0;
        margin: .75em 0 0 0;
        padding: 0;
}
    mark {
        background-color: yellow;
}
    nav {
        display: inline;
        color: #4A4A4A;
}
    p {
        margin-bottom: 0;
}
    .btn {
        -webkit-border-radius: 2;
        
        border-radius: 2px;
        font-family: Helvetica;
        color: #FFFFFF; 
        background: #FF596E;
        text-decoration: none;
}
    .btn:hover {
        background: #FE8A99;
        text-decoration: none;
}
    #charityHeader{
        text-align: left;
        padding: 20px 0 0px 0;
}
    #charityName{
        font-family: Helvetica;
        font-size: 1.1vw; 
        line-height: 1.1em;
        word-spacing: .5px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
}
    #charityInfo{
        font-family: Courier New;
        font-size: 1.1vw; 
        line-height: 1.1em;
        word-spacing: .5px;
        margin: 0 0 20px 0;
}
    .card {
        content: "";
        height: 21rem;
        width: 75rem;
        position: relative;
        border-radius: 2px;
        margin: 0 auto; 
        margin-top: -2%;
        float: none; 
        box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.35)
}
    #date {
        font-family: Courier New; 
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: 1.5%;
}
    .ellipsis {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
}
    /* Below changes the left padding of "A Record..." header */
    .padded-multiline h2 {
        font-weight: 700;
        line-height: 1.25em;
        color: #4A4A4A;
        position: relative;
        z-index: 3;
}
    .padded-multiline h2 span { 
        background-color: #fff;
        padding: 0rem .25rem .2rem .5rem;
        -webkit-box-decoration-break: clone;
        font-weight: 800;
}
    #quote-box {
        width: 68vw;
        height: 7rem;
        font-family: Courier New;
        font-weight: 200;
        font-style: italic;
        text-align: center;
        margin: 0 auto; 
}
    .rip-footer { 
        background: url(/images/bottom.svg);
        position:absolute;
        bottom:0;
        width:100%;
}
    #source {
        font-size: 13px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 600;
        margin: 0 auto;
}
    .stats{
        display: inline-block;
        width: 100%; 
        margin-top: 10%;
}
    #strikeout {
        position: relative;
}
    #strikeout::after {
        border-bottom: 0.44em solid black;
        content: "";
        left: 0;
        position: absolute;
        top: 33%;
        width: 100%;
        transform: skewY(-3deg) rotate(4deg);
}
    #transcriptHeader {
        text-transform: uppercase;
        font-weight: 600;
        font-family: Helvetica;
}
    .transcript {
        font-family: Courier New;
        width: 90%;
        display: inline-block; 
        padding: 5%;
        padding-bottom: 3%;
}
    .tooltips {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; 
        z-index: 1;
        font-family: Helvetica; 
        font-weight: 800;
}
    .tooltips .tooltiptext {
        visibility: hidden;
        font-family: Courier New;
        font-weight: 200;
        width: 185px;
        background-color: #4A4A4A;
        color: #fff;
        text-align: center;
        padding: 3px;
        border-radius: 2px;
        font-size: 13px;
        /* Position for tooltip text*/
        position: absolute;
        z-index: 1;
        bottom: 100%;
}
    .tooltips:hover .tooltiptext {
        visibility: visible;
        margin-bottom: 5px;
}
    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #4A4A4A transparent transparent transparent;
}



