    body{
        font-size: 10px;
        color: #4A4A4A;
        background-color: #FBFBFB;
        padding: 1%;
        font-family: Helvetica;
}    
    h1{
        font-size: 3.5em;
        font-size: 3.5vw;
        margin-bottom: 0;
}
    h2{
        font-size: 2em;
        font-size: 2vw;
}
    h3{
        font-size: 1.65em;
        font-size: 1.65vw;
}
    h4{
        font-size: 1.5em;
        font-size: 1.4vw;        
}
    h5{
        font-size: 1.3em;
        font-size: 1vw;
        font-weight: 200;
        margin-bottom: 0;
}
    h6{
        font-size: 1.25em;
        font-size: .75vw;
    }
}
    nav {
        display: inline;
        color: #4A4A4A;
}
    a{
        display:inline-grid;
        color:#4A4A4A;
        text-decoration:none;
}
    a:hover {
        color:#FF596E;
        text-decoration: none;
}
    a:active {
        color:#FF596E;
        text-decoration: none;
}
    mark{
        background-color: yellow;
}
    hr {
        display: block;
        height: 1px;
        width: 90%;
        border: 0;
        border-top: 1px solid #F0F0F0;
        margin: .75em 0 0 0;
        padding: 0;
}
    /* Below changes the left padding of "A Record..." header */
    .padded-multiline h2 {
        font-weight: 700;
        line-height: 1.25em;
        color: #4A4A4A;
        z-index: 0;
}
    .padded-multiline h2 span { 
        background-color: #fff;
        padding: 0rem .25rem .2rem .5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        font-weight: 800;
}
    #strikeout {
        position: relative;
}
    #strikeout::after {
        border-bottom: 0.4em solid black;
        content: "";
        left: 0;
        position: absolute;
        top: 33%;
        width: 100%;
}
    #charityHeader{
        text-align: left;
        padding: 20px 0 0px 0;
}
    #charityName{
        font-family: Helvetica;
        font-size: 1.1vw; 
        line-height: 1.1em;
        word-spacing: .5px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
}
    #charityInfo{
        font-family: Courier New;
        font-size: 1.1vw; 
        line-height: 1.1em;
        word-spacing: .5px;
        margin: 0 0 20px 0;
}
    .card {
        content: "";
        height: 325px;
        width: 1100px;
        z-index: -1;
        border-radius: 2px;
        margin: 0 auto; 
        margin-top: -2%;
        float: none; 
        box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.25)
}
    .rip {
        background: url(/images/rip.svg);
        height: 700px;
        width: 150px;
        margin: auto 0;
        z-index: -1;
        border: 0;
        background-repeat: no-repeat;
}
    #signature{
        background: url(/images/signature.png);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
}
    #quote-box{
        width: 57vw;
        height: 9rem;
        font-family: Courier New;
        font-weight: 200;
        font-style: italic;
        text-align: center;
        margin: 0 auto; 
}
    #source {
        font-size: 13px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 600;
        float: right;
}
    .btn{
        -webkit-border-radius: 2;
        -moz-border-radius: 2;
        border-radius: 2px;
        font-family: Helvetica;
        color: #FFFFFF; 
        background: #FF596E;
        text-decoration: none;
        margin: .5em 0 0 0;


}
    .btn:hover {
        background: #FE8A99;
        text-decoration: none;
}
    p {
        display: block;
        font-family: Courier New; 
        font-size: 1.1vw; 
        line-height: 1.2em;
        word-spacing: .5px;
        overflow: hidden;
}
    .transcript{
        font-family: Courier New;
    }
    .overflow-ellipsis {
        text-overflow: ellipsis;
}
    .faq{
        white-space: normal;
    }
    /*.transcript:after{
        position: absolute;
        bottom: 75px;  
        left: 20px;
        height: 100%;
        width: 100%;
        content: "";
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); 
        background: linear-gradient(to bottom, rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); 
 }*/


