<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>45 Says</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link rel="stylesheet" href="45.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:300normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:400normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:600normal" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:700normal" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="quotes.js"></script>
</head>

<body>
    <div class="row">
    <!--<div class="col-sm-12 sticky-nav-container">
        <h6 style="text-align: center;">
            <a href="#">HOME</a>
            <a style="margin-left: 2%;" href="/charities.html">CHARITIES</a>
        </h6>
    </div>-->
    <div class="col-sm-12">
        <h1 style="text-align: center">
            <span style="font-family: Courier New; font-weight: 700; color: #FF596E">45</span>
            <span style="font-family: Courier New; font-weight: 700; margin-left: -.2%;">Says</span><br>
            <img src="/images/signature.svg" alt="Donald Trump" style="height: 40px; width: 80px; margin-left: 200px; margin-top: -2%;">
            <!--<img style="margin-bottom: .2%; margin-left: -.2%" src="/images/speechIcon.svg" width="30" height="40">-->
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div style="margin-top: 1.5%;" id="quote-box">
            <h4 style="margin: 0"><span id="quote"></span><br/></h4>
            <div style="margin: 8px 5px 0 0; float: right; display: inline-block;">
                <span id="source"></span><br>
            </div>    
        </div>
    </div><!--end container-->   
</div>

<div class="padded-multiline">
    <h2><span style="margin-left: 1.5%; box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.35);">
        <span style="padding: 0; " id="strikeout">Very, Very Nice</span> Words <br> Speeches, and Interviews
        </span>
    </h2>
</div>
<div style="margin-bottom: 0;" class="col-sm-12 card">
    <div class="row">
        <div class="col-sm-8">
            <div class="transcript">
                <div style="display: inline-block; padding: 2%; margin-top: 4%; margin-left: 2%;">
                            <h6 style="font-family: Helvetica; font-weight: 600;">JOINT SESSION
                            </h6>
                            <h5 style="font-weight: 200;">February 2017
                            </h5>
                        <div style="display: inline-block; margin-top: 2%;">
                            <h6 style="font-family: Helvetica; font-weight: 600;">TRANSCRIPT
                            </h6>
                            <h5 style="width: 90%">
                            THE PRESIDENT:  Nice to see you.  And just a few notes.  During this month, we honor the tremendous history of the African Americans throughout our country -- throughout the world, if you really think about it, right?  And their story is one of unimaginable sacrifice, hard work and faith in America. <br><br>

                            I’ve gotten a real glimpse -- during the campaign, I’d go around with Ben to a lot of different places that I wasn’t so familiar with.  They’re <mark>incredible</mark> people.
                            </h5>
                        </div>
                </div>
            </div>
            <div class="col-sm-12 text-center"> 
            <button a href="#" class="btn">Full Transcript</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="display: inline-block; padding: 2%; width: 100%; margin-top: 35px;">
                <h6 style="font-family: Helvetica; font-weight: 600;">MOST COMMON
                </h6>
                <h4 style="font-family: Courier New; font-weight: 200;">Very(10), Best (5)
                </h4>
            </div>
        </div>
    </div>
</div>  
</body>
</html>