<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>45 Says</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Courier">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Helvetica">

    <style>
	h1 {color: #4A4A4A; font-family: Courier New; font-weight: bold;}
	h2 {font-family: Helvetica; font-size: 12px;}        
    h3 {color: #4A4A4A; font-size: 24px; line-height:26px; background-color: #FFFFFF;}
    h4 {color: #000; font-size: 11px;}

    /* Below changes the left padding of "A Record..." header */
    .padded-multiline {  
        margin: 30px auto;
}
    .padded-multiline h3 { 
        display: inline; 
}
    .padded-multiline h3 strong { 
        position: relative;
        box-shadow: -10px 0px 0px 0px #FFFFFF, 10px 0px 0px 0px #FFFFFF;
}
    article {
        position: relative;
    }
    article::after {
        content: "";
        top: 0px;
        height: 340px;
        width: 475px;
        left: 10;
        position: absolute;
        background: url(/images/rip.svg) bottom;
        background-size: 100%;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <!--Below is importing nav across files!-->
    <script>
    $.get("nav.html", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
</head>
<body>
    <div id="nav-placeholder">
    </div>  
    <div class="padded-multiline">
    <h3 style="margin-left: 10%"><strong>A Record of the Most Beautiful Words</strong><br>
    <h3 style="margin-left: 10%"><strong>Used By Our 45th President </strong></h3>
</div>
<main>
    <article style="margin-left: 11%"; class="col-md-6">
    </article>
    <article style="margin-left: 53%"; class="col-md-6">
    </article>
</main>  
</div>
</body>
</html>