<!doctype html>
<html>
<head>
    <title>45 Says</title>
</head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Helvetica"> 
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Courier">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="45.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="quotes.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript"></script>
    
<style type="text/css">
    nav {
        display: inline;
        color: #4A4A4A;
}
    a{
        display:inline-grid;
        color:#4A4A4A;
        text-decoration:none;
}
    a:hover {
        color:#FF596E;
        text-decoration: none;
}
    a:active {
        color:#FF596E;
        text-decoration: none;
}
    #sticky-nav-container {
        height: 100%;
        padding: 5px;
}
</style>

<body>
<div class="row">
</div>
<div class="row">
        <!--<h4 style="margin-left: 1%; text-decoration: none; float: left; margin-top: -1%">   
            <a style="color: #9B9B9B; text-decoration: none; letter-spacing: 0.01em; font-size: .9em; font-style: italic" target="_blank" href="https://youtu.be/7UIE_MRAhEA?t=54s">“I know words, I have the best words.” - Donald J. Trump </a>
        </h4>-->
    <div class="col-md-12 sticky-nav-container">
        <h2 style="font-weight: 400; text-align: center;">
                <a href="#">HOME</a>
                <a href="/donate.html">CHARITIES</a>
        </h2>
    </div>
    <div class="col-md-12">
        <h1 style="text-align: center">
            <span style="font-family: Courier New; font-weight: 700; color: #FF596E">45</span>
            <span style="font-family: Courier New; font-weight: 700; margin-left: -.2%;">Says</span>
            <img style="margin-bottom: .2%; margin-left: -.2%" src="/images/speechIcon.svg" width="24" height="30">
        </h1>
    </div>
</div>
</body>
<!--
<script type="text/javascript">
    var win      = $(window),
    fxel     = $('nav'),
    eloffset = fxel.offset().top;

win.scroll(function() {
    if (eloffset < win.scrollTop()) {
        fxel.addClass("fixed");
    } else {
        fxel.removeClass("fixed");
    }
});
</script>
-->
</html> 