
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StelGlobeHealer</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="assets/css/Pretty-Header.css">
    <link rel="stylesheet" href="assets/css/SectionTwitch.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Vertical-scroll-box.css">
    <link rel="stylesheet" href="assets/css/Vertical-scroll-box1.css">
</head>

<body style="background-color:rgb(210,210,210);">
    <section class="features" style="background-color:#dedddd;">
        <div class="container" style="color:rgb(254,254,254);background-color:#d2d2d2;margin-right:0px;margin-left:140px;padding-left:0px;padding-right:0px;width:840px;">
            <div class="row" style="background-color:#fffdfd;color:rgb(6,5,5);margin-right:0px;margin-left:0px;width:929px;">
                <div class="col-md-6" style="height:120px;">
                    <div class="row icon-features" style="margin-top:0px;">
                        <div class="col-xs-4 icon-feature" style="width:128px;"><img class="img-circle img-responsive dropdown-image" src="assets/img/download.png" style="margin:17px;height:90px;width:90px;background-color:#efeded;padding:0px;margin-right:0px;margin-left:5px;"></div>
                        <div class="col-xs-4 icon-feature"
                        style="height:116px;margin:0px;padding:11px;padding-left:0px;padding-top:20px;padding-right:22px;">
                            <p class="text-left" style="font-size:27px;">John Smith</p>
                            <p class="text-left" style="line-height:0px;">DOB: 1/1/1960</p>
                            <p class="text-left" style="line-height:9px;">Heart Failure</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="height:120px;padding-right:0px;padding-left:0px;width:420px;">
                    <div class="row icon-features" style="height:124px;margin:-1px;margin-top:0px;width:412px;padding-right:-15px;">
                        <div class="col-md-2 col-xs-4 icon-feature" style="height:116px;margin:0px;padding:11px;padding-left:0px;padding-top:14px;padding-right:31px;">
                            <p> </p>
                        </div>
                        <div class="col-md-7 col-md-offset-3" style="height:110px;min-height:1px;">
                            <button class="btn btn-danger" type="button" style="width:250px;height:50px;padding:0px;background-color:#ed5454;color:rgb(252,249,249);font-size:24px;margin-top:40px;max-width:none;">Contact patient</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="background-color:#dedddd;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="width:300px;height:492px;">
                    <ul class="list-group">
                        <li class="list-group-item"><span>Summary of Vitals since Discharge</span></li>
                        <li class="list-group-item"><span> </span></li>
                        <li class="list-group-item"><span style="width:0px;margin-right:20px;font-weight:bold;">Discharge </span><span style="margin-right:28px;margin-top:0px;margin-left:0px;font-style:italic;">May 1st, 2017 </span><span style="padding-left:0px;margin-left:43px;">7 days since discharge</span></li>
                        <li
                        class="list-group-item"><span style="width:0px;margin-right:10px;font-weight:bold;">Body Weight</span><span style="margin-right:0px;margin-top:0px;margin-left:0px;font-style:italic;">171 lbs</span><span style="margin-right:0px;margin-top:0px;margin-left:51px;font-style:italic;"> </span>
                            <span
                            style="padding-left:0px;margin-left:56px;color:rgb(228,2,2);">4</span><span style="padding-left:0px;margin-left:0px;color:rgb(248,1,1);"> lbs gained </span></li>
                                <li class="list-group-item"><span style="width:0px;margin-right:10px;font-weight:bold;">Glucometer </span><span style="margin-right:0px;margin-top:0px;margin-left:0px;font-style:italic;">80 mg/dL</span><span style="margin-right:0px;margin-top:0px;margin-left:51px;font-style:italic;"> </span>
                                    <span
                                    style="padding-left:0px;margin-left:56px;color:rgb(104,171,87);">0 </span><span style="padding-left:0px;margin-left:0px;color:rgb(104,171,87);">mg/dl change</span></li>
                                <li class="list-group-item"><span style="width:0px;margin-right:10px;font-weight:bold;">Temperature </span><span style="margin-right:0px;margin-top:0px;margin-left:0px;font-style:italic;">99.3 °F</span><span style="margin-right:0px;margin-top:0px;margin-left:51px;font-style:italic;"> </span>
                                    <span
                                    style="padding-left:0px;margin-left:56px;color:rgb(104,171,87);">.3 </span><span style="padding-left:0px;margin-left:0px;color:rgb(104,171,87);">degree change</span></li>
                                <li class="list-group-item"><span style="width:0px;margin-right:10px;font-weight:bold;">Blood Pressure</span><span style="margin-right:0px;margin-top:0px;margin-left:0px;font-style:italic;padding-right:0px;">120/80 mm Hg</span><span style="margin-right:0px;margin-top:0px;margin-left:51px;font-style:italic;"> </span>
                                    <span
                                    style="padding-left:0px;margin-left:0px;color:#363739;">Systolic </span><span style="padding-left:0px;margin-left:0px;color:#da1003;margin-right:0px;padding-right:49px;"> 4mm Hg increase</span><span style="padding-left:0px;margin-left:0px;color:rgb(104,171,87);"> </span>
                                        <span
                                        style="padding-left:0px;margin-left:0px;color:#363739;"> Diastolic 3mm Hg increase</span>
                                </li>
                                <li class="list-group-item"><span style="width:0px;margin-right:10px;font-weight:bold;">Pulse Oximeter</span><span style="margin-right:0px;margin-top:0px;margin-left:0px;font-style:italic;padding-right:38px;">80 mm Hg</span><span style="margin-right:0px;margin-top:0px;margin-left:51px;font-style:italic;"> </span>
                                    <span
                                    style="padding-left:0px;margin-left:-51px;color:#da1003;">5 mm HG</span><span style="padding-left:0px;margin-left:0px;color:#da1003;margin-right:75px;padding-right:49px;"> increase </span><span style="padding-left:0px;margin-left:0px;color:rgb(104,171,87);"> </span><span style="padding-left:0px;margin-left:0px;color:#363739;"> </span></li>
                    </ul>
                </div>
                <div class="col-md-8" style="width:658px;">
                    <ul class="list-group">
                        <li class="list-group-item"><span>Most recent Measurements</span>
                            <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" style="margin-top:15px;">
                                        <h3 class="panel-title" style="width:168px;"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="true" href="#accordion-1 .item-1" style="font-weight:bold;">Blood Pressure</a></h3>
                                        <p style="width:177px;color:rgba(51,51,51,0.58);margin-bottom:0px;">8:00 AM ET- 4 hours ago</p>
                                    </div>
                                    <div class="panel-collapse collapse in item-1" role="tabpanel" style="height:161px;">
                                        <div class="panel-body" style="padding-top:5px;padding-right:0px;padding-bottom:0px;padding-left:15px;width:286px;"></div>
                                        <div class="col-md-12" style="width:286px;">
                                            <p style="width:280px;font-size:40px;margin-top:15px;margin-bottom:15px;">120 / 80 mm Hg</p>
                                            <p style="width:280px;font-size:23px;line-height:0px;margin-top:10px;padding-top:0px;padding-bottom:10px;">Systolic 4 mm Hg increase</p>
                                            <p style="width:280px;font-size:23px;line-height:0px;padding-top:10px;margin-top:10px;">Diastolic 4 mm Hg increase</p>
                                        </div><img src="assets/img/Screen Shot 2017-05-09 at 9.48.43 PM.png" style="width:278px;"></div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" style="margin-top:15px;">
                                        <h3 class="panel-title" style="width:168px;"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-2" style="font-weight:bold;">Weight </a></h3>
                                        <p style="width:177px;color:rgba(51,51,51,0.58);margin-bottom:0px;">6:00 AM ET- 6 hours ago</p>
                                    </div>
                                    <div class="panel-collapse collapse item-2" role="tabpanel" style="height:145px;">
                                        <div class="panel-body" style="padding-top:5px;padding-right:0px;padding-bottom:0px;padding-left:15px;width:286px;"></div>
                                        <div class="col-md-12" style="width:286px;">
                                            <p style="width:280px;font-size:40px;margin-top:15px;margin-bottom:15px;">175 lbs</p>
                                            <p style="width:280px;font-size:15px;line-height:0px;margin-top:10px;">Since last measure</p>
                                            <p style="width:280px;font-size:23px;line-height:0px;padding-top:6px;margin-top:10px;">4 lbs gained</p>
                                        </div><img src="assets/img/Screen Shot 2017-05-09 at 9.55.07 PM.png" style="width:288px;margin-top:20px;"></div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" style="margin-top:15px;">
                                        <h3 class="panel-title" style="width:168px;"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-3" style="font-weight:bold;">Glucometer </a></h3>
                                        <p style="width:177px;color:rgba(51,51,51,0.58);margin-bottom:0px;">6:00 AM ET- 6 hours ago</p>
                                    </div>
                                    <div class="panel-collapse collapse item-3" role="tabpanel" style="height:145px;">
                                        <div class="panel-body" style="padding-top:5px;padding-right:0px;padding-bottom:0px;padding-left:15px;width:286px;"></div>
                                        <div class="col-md-12" style="width:286px;">
                                            <p style="width:280px;font-size:40px;margin-top:15px;margin-bottom:15px;">100 mg/dL</p>
                                            <p style="width:280px;font-size:15px;line-height:0px;margin-top:10px;">Since last measure</p>
                                            <p style="width:280px;font-size:23px;line-height:0px;padding-top:6px;margin-top:10px;">0 mg/dL change</p>
                                        </div><img src="assets/img/Screen Shot 2017-05-09 at 9.55.18 PM.png" style="width:288px;margin-top:20px;"></div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-4">Temperature </a></h4></div>
                                    <div class="panel-collapse collapse item-4" role="tabpanel">
                                        <div class="panel-body"><span>Waiting.... </span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials"></section>
    <footer class="site-footer"></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>