    body{
        font-family: Nunito,sans-serif;
        font-weight: 300; 
        background-color: #F2F2F2;
        color: #4A4A4A;
        padding: .5%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    html{
        overflow: hidden;
        height: 100%;
    }
    h1{
        font-size:calc(14px + 2.2vw);
        font-weight: 700;
    }
    h2{
        font-size:calc(14px + 0.2vw);
        font-weight: 700;
        margin-bottom: 0.15em;
    }
    h3{
        font-size:calc(14px + 0.15vw);
        font-weight: 400;
        margin-bottom: 0.15em;
        letter-spacing: 0.03em;
    }
    h4{
        font-size:calc(15px + 0.1vw);
        font-weight: 300;
        margin-left: .5%;
    }
    h5{
        font-size:calc(12px + 0.01vw);
        font-weight: 300; 
    }
    h5 strong{
        font-size:calc(12px + 0.01vw);
        font-weight: 600; 
    }
    hr{
        border:0;
        border-top:1px solid #F3F3F3; 
        width: 100%; 
        margin-top: .5%;
    }
.button{
    font-family: Nunito;
    font-weight: 200;
    padding: 1rem;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    border-radius: 2%;
    -webkit-transition:all .06s ease-in-out;
    -o-transition:all .06s ease-in-out;
    transition:all .06s ease-in-out;
}
.button:focus,.button:hover{
    text-decoration:none;
}
.button-primary{
    color: #FF596E;
    border: .15em solid #FF596E;
    width: 18em;
    margin-top: .5em;
    margin-left: 10px;
}
.button-primary:hover{
    color: #fff;
    background-color: #FF596E; 
    text-decoration: none;
}
.button-primary.active,.button-primary:active,.show>{
    color:#fff;
    background-color:#FF596E;
    background-image:none;
}
.card{
	margin-bottom: 10px;
}
.card-block-profile{
	width: 100%;
}
.card-block-last-measure{
    margin-top: 1%;
    margin-left: 6%;
    margin-bottom: 1.5%;
}
.card-block-large-measure{
    padding: 1.5%;
}
.card-text{
    color:#4A4A4A;     
}
#card-block-summary{
    padding: 1rem;
    width: 100%;
}
#card-block-recent-scroll{ 
    padding: 1rem;
    margin-bottom: .5%;
    width: 100%;
    height: 97%;
    overflow: scroll;
 }
 #card-block-recent-noscroll{ 
    padding: 1rem;
    margin-bottom: .5%;
    width: 100%;
 }
#card-left-rail{
    margin-top: 4.5%;
    margin-left: 4.5%;
    margin-bottom: 4.5%;
}
#left-rail-delta{
    display: grid;
    grid-template-columns: 50% 2fr;
    margin-left: 2.5%;
    width: 95%; 
    width: 275px;
}
#history-data{
	overflow: scroll;
    height: 162px;
}
#left-rail-history{
    display: inline-grid;
    grid-template-columns: 50% 1fr;
    width: 90%;
}
.profile-container{
    display: grid;
    grid-template-columns: 25% 1fr;
    padding: .25%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 .highcharts-root{
    width: 800px;
}
}
.highcharts-root{
	width: 90%;
	height: 100%;
}
.decrease{
    color: #7ED321;
    font-weight: 700;
}
.increase{
    color: #FF596E;
    font-weight: 700;
}
#since-previous{
	padding: 1%;
}
#line-chart{
    height:100%;
    width:100%;
    position: absolute;
}
a {
    font-size: 1.1em; 
}
